---
import "../styles/global.css";
import Head from "./Head.astro";
import Body from "./Body.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">["data"];

const { title, description, date, image, color } = Astro.props;

const url = Astro.url.href;
const imageUrl = `${Astro.url.origin}${image}`;
---

<Head>
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={imageUrl} />
    <meta name="theme-color" content={color || "#0f172a"} data-react-helmet="true" />
    <meta property="article:published_time" content={date.toISOString()} />
</Head>
<Body>
    <header>
        <Navbar page="blog" />
    </header>

    <main>
        <slot />
    </main>

    <Footer />
</Body>
